.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* share style */
.text-primary {
    color: tomato;
}

.background-color {
    background: rgb(255, 248, 243);
}

.sec-title {
    font-size: 35px;
    font-weight: bold;
    color: color: rgb(24, 24, 24);
}

.sec-description {
    font-size: 18px;
    color: rgb(117, 117, 117);
}

/* Header styles */
.header-banner {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    width: auto;
    height: 790px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(71, 71, 71);
}

.nav-btn {
    border-radius: 5px;
    background: rgb(253, 110, 10);
    font-weight: bold;
    padding: 18px 35px;
    font-size: 20px;
    border: none;
}

/* banner styles */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content {
    max-width: 580px;
}

.banner-pp {
    width: 580px;
    height: 635px;
}

.banner-greetings {
    font-size: 35px;
    font-weight: 600;
}

.banner-title {
    font-size: 65px;
    font-weight: bold;
}

/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about styles */
.about-section {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item-description {
    font-weight: 600;
}