.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* share style */
.text-primary {
    color: tomato;
}

.background-color {
    background: rgb(255, 248, 243);
}

.sec-title {
    font-size: 35px;
    font-weight: bold;
    color: color: rgb(24, 24, 24);
}

.sec-description {
    font-size: 18px;
    color: rgb(117, 117, 117);
}

.text-center {
    text-align: center;
}

/* Header styles */
.header-banner {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    width: auto;
    height: 790px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(71, 71, 71);
}

.nav-btn {
    border-radius: 5px;
    background: rgb(253, 110, 10);
    font-weight: bold;
    padding: 18px 35px;
    font-size: 20px;
    border: none;
}

/* banner styles */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content {
    max-width: 580px;
}

.banner-pp {
    width: 580px;
    height: 635px;
}

.banner-greetings {
    font-size: 35px;
    font-weight: 600;
}

.banner-title {
    font-size: 65px;
    font-weight: bold;
}

/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about styles */

.about {
    background-color: white;
}

.about-section {
    border-radius: 10px;
    padding: 130px 170px;
    text-align: center;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item-description {
    font-weight: 600;
}

/* What I Do styles */

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 30px 30px;
    margin-top: 20px;
}

.skill-desc {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px 110px;
}

/* resume styles */

.resume-container {
    display: flex;
    gap: 24px;
}

.resume-colum-title {
    color: rgb(71, 71, 71);
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    text-align: left;
}

.experience {
    padding: 20px auto;
}

.experience-title {
    color: rgb(71, 71, 71);
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
    margin: 30px auto;
}

.experience-sub-title {
    color: rgb(117, 117, 117);
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    margin-top: 5px;
}

.experience-description {
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resume-container hr {
    width: 558px;
    height: 0;
    border: 1px solid rgb(209, 209, 209);
}

/* footer style */

.footer {
    width: auto;
    height: 720px;
    left: 0;
    right: 0;
    top: 3476px;
    bottom: 0;
}

.footer-container {
    display: flex;
    gap: 117px;
    padding: 110px 230px;
}

.footer-description {
    width: 562px;
    height: 56px;
    left: 230px;
    right: 808px;
    top: 3674px;
    bottom: 526px;
    color: rgb(71, 71, 71);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-top: 28px;
}

.footer-icon {
    margin-top: 28px;
    display: flex;
    gap: 15px;
}

.footer input[type=text],
.footer input[type=email] {
    height: 25px;
    padding: 10px 20px;
    display: block;
    width: 461px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.footer-colum form {
    margin-top: 28px;
}

.footer textarea {
    padding: 10px 20px;
    height: 180px;
    width: 461px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}